In [3]:
#Site locations [lat,lon]
HarvardForest = [42.53415, -72.17147]

#Required packages
import numpy as np
import pandas as pd
import xarray as xr
import function as f

In [4]:
path = '../posteriors/'

**First, Harvard Forest**

In [5]:
#read in Harvard Forest posteriors
cols = ['gc','gc_n','gfs_5m','merra_250m','nam_250m']

posterior_df_95 = pd.read_csv(path+'/HarvardForest_posterior_95th.csv',usecols=cols)

In [6]:
df = posterior_df_95
lb = 0.05
ub = 0.95
models = pd.DataFrame({'mean':df.mean(),
                      'median':df.median(),
                      'lb':df.quantile(lb),
                      'ub':df.quantile(ub)})

models_melt = pd.DataFrame({'mean':df.melt()['value'].mean(),
                          'median':df.melt()['value'].median(),
                          'lb':df.melt()['value'].quantile(lb),
                          'ub':df.melt()['value'].quantile(ub)},index=['all'])

nogc_melt = pd.DataFrame({'mean':df.drop('gc',axis=1).melt()['value'].mean(),
                          'median':df.drop('gc',axis=1).melt()['value'].median(),
                          'lb':df.drop('gc',axis=1).melt()['value'].quantile(lb),
                          'ub':df.drop('gc',axis=1).melt()['value'].quantile(ub)},index=['all'])

In [7]:
models

                 mean     median         lb         ub
gc          18.538949  19.511535   4.862160  27.505268
gc_n        21.391917  22.323099   7.233198  31.801875
gfs_5m      23.991354  24.495905  15.516708  31.693255
merra_250m  23.298740  24.343529   6.059791  30.563111
nam_250m    26.063666  26.811466  18.797620  32.563613

In [8]:
#now overall

In [9]:
models_melt

          mean     median        lb         ub
all  22.656925  23.767025  7.899011  31.433806

In [10]:
#now overall

In [11]:
nogc_melt

          mean     median         lb         ub
all  23.686419  24.713732  10.213308  31.799438

In [12]:
#now, 90th percentile range

In [13]:
#read in Harvard Forest posteriors
cols = ['gc','gc_n','gfs_5m','merra_250m','nam_250m']

posterior_df_90 = pd.read_csv(path+'HarvardForest_posterior_90th.csv',usecols=cols)
posterior_df_IQR = pd.read_csv(path+'HarvardForest_posterior_IQR.csv',usecols=cols)

In [14]:
df = posterior_df_90
lb = 0.05
ub = 0.95
models = pd.DataFrame({'mean':df.mean(),
                      'median':df.median(),
                      'lb':df.quantile(lb),
                      'ub':df.quantile(ub)})

models_melt = pd.DataFrame({'mean':df.melt()['value'].mean(),
                          'median':df.melt()['value'].median(),
                          'lb':df.melt()['value'].quantile(lb),
                          'ub':df.melt()['value'].quantile(ub)},index=['all'])

nogc_melt = pd.DataFrame({'mean':df.drop('gc',axis=1).melt()['value'].mean(),
                          'median':df.drop('gc',axis=1).melt()['value'].median(),
                          'lb':df.drop('gc',axis=1).melt()['value'].quantile(lb),
                          'ub':df.drop('gc',axis=1).melt()['value'].quantile(ub)},index=['all'])

In [15]:
models

                 mean     median        lb         ub
gc          16.510657  17.323456  4.260302  25.686200
gc_n        19.330150  20.163058  4.001275  30.381134
gfs_5m      21.405448  22.753504  3.666724  29.224127
merra_250m  21.721810  22.964248  2.946009  28.957213
nam_250m    24.116520  25.819673  2.212980  30.943091

In [16]:
models_melt

          mean     median       lb         ub
all  20.616917  22.121035  3.56122  29.697444

In [17]:
nogc_melt

          mean     median        lb         ub
all  21.643482  23.183654  3.211149  30.073986

In [18]:
df = posterior_df_IQR
lb = 0.05
ub = 0.95
models = pd.DataFrame({'mean':df.mean(),
                      'median':df.median(),
                      'lb':df.quantile(lb),
                      'ub':df.quantile(ub)})

models_melt = pd.DataFrame({'mean':df.melt()['value'].mean(),
                          'median':df.melt()['value'].median(),
                          'lb':df.melt()['value'].quantile(lb),
                          'ub':df.melt()['value'].quantile(ub)},index=['all'])

nogc_melt = pd.DataFrame({'mean':df.drop('gc',axis=1).melt()['value'].mean(),
                          'median':df.drop('gc',axis=1).melt()['value'].median(),
                          'lb':df.drop('gc',axis=1).melt()['value'].quantile(lb),
                          'ub':df.drop('gc',axis=1).melt()['value'].quantile(ub)},index=['all'])

In [19]:
models

                 mean     median        lb         ub
gc          11.890906  12.127455  1.844118  21.937944
gc_n        14.916315  15.713530  2.080280  26.289956
gfs_5m      19.000385  21.433526  1.742534  28.272500
merra_250m  19.861343  22.295465  1.875163  29.845613
nam_250m    20.186328  22.088468  1.850869  29.183061

In [21]:
nogc_melt

          mean     median        lb         ub
all  18.491093  20.737417  1.891161  28.806528

**ATARS (2014)**

In [23]:
#read in Gunn Point posteriors
cols = ['gc','gc_n','merra2_gfed','gdas_gfed','merra2_finn','gdas_finn']

posterior_df_95 = pd.read_csv(path+'/GunnPoint_posterior_2014_95th.csv',usecols=cols)
posterior_df_90 = pd.read_csv(path+'/GunnPoint_posterior_2014_90th.csv',usecols=cols)
posterior_df_IQR = pd.read_csv(path+'/GunnPoint_posterior_2014_IQR.csv',usecols=cols)


priors = pd.read_csv(path+'/GunnPoint_priors_2014.csv')

In [24]:
df = posterior_df_95
lb = 0.05
ub = 0.95
models = pd.DataFrame({'mean':df.mean(),
                      'median':df.median(),
                      'lb':df.quantile(lb),
                      'ub':df.quantile(ub)})

models_melt = pd.DataFrame({'mean':df.melt()['value'].mean(),
                          'median':df.melt()['value'].median(),
                          'lb':df.melt()['value'].quantile(lb),
                          'ub':df.melt()['value'].quantile(ub)},index=['all'])

nogc_melt = pd.DataFrame({'mean':df.drop('gc',axis=1).melt()['value'].mean(),
                          'median':df.drop('gc',axis=1).melt()['value'].median(),
                          'lb':df.drop('gc',axis=1).melt()['value'].quantile(lb),
                          'ub':df.drop('gc',axis=1).melt()['value'].quantile(ub)},index=['all'])

In [25]:
models

                  mean     median        lb         ub
gc           13.574154  13.638477  8.252512  18.797697
gc_n          6.459597   6.536054  3.684213   9.048566
merra2_gfed   4.899792   4.928904  2.717414   6.973874
gdas_gfed     3.789343   3.805138  1.905432   5.612658
merra2_finn   4.864712   4.876502  2.514812   7.153236
gdas_finn     4.834044   4.875897  2.497779   7.034793

In [26]:
models_melt

         mean    median        lb        ub
all  6.403607  5.302119  2.547666  15.25184

In [27]:
nogc_melt

         mean    median        lb        ub
all  4.969497  4.903299  2.412793  7.779522

In [28]:
#now doing 90th

In [29]:
df = posterior_df_90
lb = 0.05
ub = 0.95
models = pd.DataFrame({'mean':df.mean(),
                      'median':df.median(),
                      'lb':df.quantile(lb),
                      'ub':df.quantile(ub)})

models_melt = pd.DataFrame({'mean':df.melt()['value'].mean(),
                          'median':df.melt()['value'].median(),
                          'lb':df.melt()['value'].quantile(lb),
                          'ub':df.melt()['value'].quantile(ub)},index=['all'])

nogc_melt = pd.DataFrame({'mean':df.drop('gc',axis=1).melt()['value'].mean(),
                          'median':df.drop('gc',axis=1).melt()['value'].median(),
                          'lb':df.drop('gc',axis=1).melt()['value'].quantile(lb),
                          'ub':df.drop('gc',axis=1).melt()['value'].quantile(ub)},index=['all'])

In [30]:
models

                  mean     median        lb         ub
gc           13.285561  13.289183  8.743359  17.783478
gc_n          6.350987   6.360877  3.933566   8.714338
merra2_gfed   5.913207   5.947463  3.503307   8.158299
gdas_gfed     4.815993   4.853892  2.654360   6.843633
merra2_finn   4.877632   4.906316  2.989486   6.696508
gdas_finn     5.643182   5.721221  3.287358   7.631642

In [31]:
models_melt

         mean    median        lb         ub
all  6.814427  5.870703  3.272545  14.723802

In [32]:
nogc_melt

       mean    median        lb        ub
all  5.5202  5.521247  3.139799  7.903476

In [33]:
#now doing IQR

In [34]:
df = posterior_df_IQR
lb = 0.05
ub = 0.95
models = pd.DataFrame({'mean':df.mean(),
                      'median':df.median(),
                      'lb':df.quantile(lb),
                      'ub':df.quantile(ub)})

models_melt = pd.DataFrame({'mean':df.melt()['value'].mean(),
                          'median':df.melt()['value'].median(),
                          'lb':df.melt()['value'].quantile(lb),
                          'ub':df.melt()['value'].quantile(ub)},index=['all'])

nogc_melt = pd.DataFrame({'mean':df.drop('gc',axis=1).melt()['value'].mean(),
                          'median':df.drop('gc',axis=1).melt()['value'].median(),
                          'lb':df.drop('gc',axis=1).melt()['value'].quantile(lb),
                          'ub':df.drop('gc',axis=1).melt()['value'].quantile(ub)},index=['all'])

In [35]:
models

                 mean    median        lb         ub
gc           9.114746  9.240543  3.294997  14.492613
gc_n         3.964487  4.081705  0.874210   6.437432
merra2_gfed  4.167297  4.263671  0.868878   7.021420
gdas_gfed    3.157491  3.276012  0.694561   5.309069
merra2_finn  5.291520  5.438735  1.193396   8.789363
gdas_finn    5.302152  5.436623  1.227699   8.795857

In [36]:
models_melt

         mean    median        lb         ub
all  5.166282  4.709517  1.030795  11.027348

In [37]:
nogc_melt

         mean    median        lb        ub
all  4.376589  4.289563  0.916587  7.943952

**ATARS (2015)**

In [38]:
#read in Gunn Point posteriors
cols = ['gc','gc_n','merra2_gfed','gdas_gfed','merra2_finn','gdas_finn']

posterior_df_95 = pd.read_csv(path+'/GunnPoint_posterior_2015_95th.csv',usecols=cols)
posterior_df_90 = pd.read_csv(path+'/GunnPoint_posterior_2015_90th.csv',usecols=cols)
posterior_df_IQR = pd.read_csv(path+'/GunnPoint_posterior_2015_IQR.csv',usecols=cols)


priors = pd.read_csv(path+'/GunnPoint_priors_2015.csv')

In [39]:
df = posterior_df_95
lb = 0.05
ub = 0.95
models = pd.DataFrame({'mean':df.mean(),
                      'median':df.median(),
                      'lb':df.quantile(lb),
                      'ub':df.quantile(ub)})

models_melt = pd.DataFrame({'mean':df.melt()['value'].mean(),
                          'median':df.melt()['value'].median(),
                          'lb':df.melt()['value'].quantile(lb),
                          'ub':df.melt()['value'].quantile(ub)},index=['all'])

nogc_melt = pd.DataFrame({'mean':df.drop('gc',axis=1).melt()['value'].mean(),
                          'median':df.drop('gc',axis=1).melt()['value'].median(),
                          'lb':df.drop('gc',axis=1).melt()['value'].quantile(lb),
                          'ub':df.drop('gc',axis=1).melt()['value'].quantile(ub)},index=['all'])

In [40]:
models

                  mean     median        lb         ub
gc           10.101787  10.326574  4.275975  15.178105
gc_n          4.722278   4.905067  1.209391   7.377913
merra2_gfed   1.823434   1.867121  0.442220   3.033829
gdas_gfed     1.579533   1.651624  0.317641   2.533300
merra2_finn   2.161102   2.192607  0.519496   3.632275
gdas_finn     1.963583   2.006270  0.482871   3.261371

In [41]:
models_melt

         mean    median        lb         ub
all  3.725286  2.354046  0.558997  11.941666

In [42]:
nogc_melt

         mean    median        lb        ub
all  2.449986  2.093788  0.481762  5.970351

In [43]:
#now doing 90th

In [44]:
df = posterior_df_90
lb = 0.05
ub = 0.95
models = pd.DataFrame({'mean':df.mean(),
                      'median':df.median(),
                      'lb':df.quantile(lb),
                      'ub':df.quantile(ub)})

models_melt = pd.DataFrame({'mean':df.melt()['value'].mean(),
                          'median':df.melt()['value'].median(),
                          'lb':df.melt()['value'].quantile(lb),
                          'ub':df.melt()['value'].quantile(ub)},index=['all'])

nogc_melt = pd.DataFrame({'mean':df.drop('gc',axis=1).melt()['value'].mean(),
                          'median':df.drop('gc',axis=1).melt()['value'].median(),
                          'lb':df.drop('gc',axis=1).melt()['value'].quantile(lb),
                          'ub':df.drop('gc',axis=1).melt()['value'].quantile(ub)},index=['all'])

In [45]:
models

                  mean     median        lb         ub
gc           11.275833  11.302030  5.239668  17.245756
gc_n          4.975120   5.112829  1.494086   7.694713
merra2_gfed   1.913339   1.961639  0.569868   2.984577
gdas_gfed     1.901410   1.958245  0.560502   3.081384
merra2_finn   2.126693   2.152568  0.654763   3.511111
gdas_finn     2.426114   2.444138  0.764321   3.949129

In [46]:
models_melt

         mean    median        lb         ub
all  4.103085  2.564867  0.774308  13.016102

In [47]:
nogc_melt

         mean    median        lb        ub
all  2.668535  2.310023  0.685715  6.218677

In [48]:
#now doing IQR

In [49]:
df = posterior_df_IQR
lb = 0.05
ub = 0.95
models = pd.DataFrame({'mean':df.mean(),
                      'median':df.median(),
                      'lb':df.quantile(lb),
                      'ub':df.quantile(ub)})

models_melt = pd.DataFrame({'mean':df.melt()['value'].mean(),
                          'median':df.melt()['value'].median(),
                          'lb':df.melt()['value'].quantile(lb),
                          'ub':df.melt()['value'].quantile(ub)},index=['all'])

nogc_melt = pd.DataFrame({'mean':df.drop('gc',axis=1).melt()['value'].mean(),
                          'median':df.drop('gc',axis=1).melt()['value'].median(),
                          'lb':df.drop('gc',axis=1).melt()['value'].quantile(lb),
                          'ub':df.drop('gc',axis=1).melt()['value'].quantile(ub)},index=['all'])

In [50]:
models

                 mean    median        lb         ub
gc           8.491530  8.732473  1.858173  14.019623
gc_n         4.909698  5.057845  0.747658   8.503673
merra2_gfed  1.862070  1.800949  0.287289   3.734065
gdas_gfed    1.323121  1.299566  0.171687   2.584426
merra2_finn  2.185717  2.179128  0.299838   4.139148
gdas_finn    2.171904  2.226190  0.281467   4.034485

In [51]:
models_melt

         mean    median        lb         ub
all  3.490673  2.418774  0.329403  10.619247

In [52]:
nogc_melt

         mean    median        lb        ub
all  2.490502  2.076358  0.286345  6.595133

**Finally, Chacaltaya (partitioning by percentile)**

In [55]:
#read in Harvard Forest posteriors
cols = ['mdd','apu','are','npun','spun']

gc_95 = pd.read_csv(path+'Chacaltaya_gcbase_95th.csv',usecols=cols)
merragma_95 = pd.read_csv(path+'Chacaltaya_merragma_95th.csv',usecols=cols)
gdasgma_95 = pd.read_csv(path+'Chacaltaya_gdasgma_95th.csv',usecols=cols)
merraed10_95 = pd.read_csv(path+'Chacaltaya_merraed10_95th.csv',usecols=cols)
gdased10_95 = pd.read_csv(path+'Chacaltaya_gdased10_95th.csv',usecols=cols)

#read priors
priors = pd.read_csv(path+'Chacaltaya_priors.csv')

In [56]:
#to make this plot the way I want it, need to make function to add column with percentile
def percentile_value(df,run,value,decimals=3):
    return np.round((df[run]>value).sum()/len(df[run]),decimals)
    #return (sorted(df[df['variable']==run]['posterior'])>value).sum()/len(df[df['variable']==run]['posterior'])

def loc_compile(dflist,namelist,loc='mdd'):
    i = 0
    for df in dflist:
        if i == 0:
            df_comp = pd.DataFrame({namelist[i]:df[loc]})
        else:
            df_comp[namelist[i]] = df[loc]
        i = i+1
    return df_comp

In [57]:
dflist =   [gc_95,merragma_95,gdasgma_95,merraed10_95,gdased10_95]
namelist = ['gc','merragma','gdasgma','merraed10','gdased10']

mdd = loc_compile(dflist,namelist,loc='mdd')
apu = loc_compile(dflist,namelist,loc='apu')
are = loc_compile(dflist,namelist,loc='are')
npun = loc_compile(dflist,namelist,loc='npun')
spun = loc_compile(dflist,namelist,loc='spun')
allregions = spun+npun+are+apu+mdd

In [58]:
#now, all regions

df = allregions
lb = 0.05
ub = 0.95
models = pd.DataFrame({'mean':df.mean(),
                      'median':df.median(),
                      'lb':df.quantile(lb),
                      'ub':df.quantile(ub)})

models_melt = pd.DataFrame({'mean':df.melt()['value'].mean(),
                          'median':df.melt()['value'].median(),
                          'lb':df.melt()['value'].quantile(lb),
                          'ub':df.melt()['value'].quantile(ub)},index=['all'])

nogc_melt = pd.DataFrame({'mean':df.drop('gc',axis=1).melt()['value'].mean(),
                          'median':df.drop('gc',axis=1).melt()['value'].median(),
                          'lb':df.drop('gc',axis=1).melt()['value'].quantile(lb),
                          'ub':df.drop('gc',axis=1).melt()['value'].quantile(ub)},index=['all'])

In [59]:
models

                mean     median         lb         ub
gc         37.209486  33.740451  16.915315  71.347932
merragma   53.865912  53.163985  26.694567  82.142641
gdasgma    28.244873  27.323051  17.298187  42.423249
merraed10  41.847341  40.243833  14.174321  72.472933
gdased10   27.957026  27.150390  14.002868  44.210524

In [60]:
models_melt

          mean     median         lb        ub
all  37.824928  33.590793  16.265488  72.34138

In [61]:
nogc_melt

          mean     median         lb         ub
all  37.978788  33.590793  16.108716  72.684381

In [62]:
#now, mdd

df = mdd
lb = 0.05
ub = 0.95
models = pd.DataFrame({'mean':df.mean(),
                      'median':df.median(),
                      'lb':df.quantile(lb),
                      'ub':df.quantile(ub)})

models_melt = pd.DataFrame({'mean':df.melt()['value'].mean(),
                          'median':df.melt()['value'].median(),
                          'lb':df.melt()['value'].quantile(lb),
                          'ub':df.melt()['value'].quantile(ub)},index=['all'])

nogc_melt = pd.DataFrame({'mean':df.drop('gc',axis=1).melt()['value'].mean(),
                          'median':df.drop('gc',axis=1).melt()['value'].median(),
                          'lb':df.drop('gc',axis=1).melt()['value'].quantile(lb),
                          'ub':df.drop('gc',axis=1).melt()['value'].quantile(ub)},index=['all'])

In [63]:
models

                mean     median        lb         ub
gc         23.893513  20.110823  1.814886  60.918896
merragma    2.383810   1.468474  0.115228   7.305026
gdasgma     5.743725   5.077288  0.564038  12.850076
merraed10   1.589621   1.114245  0.130582   5.203034
gdased10    5.497751   4.464851  0.466302  13.871317

In [64]:
models_melt

         mean    median        lb         ub
all  7.821684  3.560602  0.268013  35.211995

In [65]:
nogc_melt

         mean    median        lb         ub
all  3.803727  2.560772  0.221439  11.316425

In [66]:
#now, Arequipa

df = are
lb = 0.05
ub = 0.95
models = pd.DataFrame({'mean':df.mean(),
                      'median':df.median(),
                      'lb':df.quantile(lb),
                      'ub':df.quantile(ub)})

models_melt = pd.DataFrame({'mean':df.melt()['value'].mean(),
                          'median':df.melt()['value'].median(),
                          'lb':df.melt()['value'].quantile(lb),
                          'ub':df.melt()['value'].quantile(ub)},index=['all'])

In [67]:
models

                mean     median        lb         ub
gc          5.700682   4.616265  0.455141  13.793872
merragma   29.150750  27.922116  4.139401  57.864479
gdasgma     2.220464   1.739001  0.169936   6.000654
merraed10  30.019814  28.010726  4.296460  61.814128
gdased10    3.477010   3.007333  0.285784   8.472635

In [68]:
models_melt

          mean    median       lb         ub
all  14.113744  5.821931  0.39887  52.255254

In [69]:
#now, apurimac/cusco

df = apu
lb = 0.05
ub = 0.95
models = pd.DataFrame({'mean':df.mean(),
                      'median':df.median(),
                      'lb':df.quantile(lb),
                      'ub':df.quantile(ub)})

models_melt = pd.DataFrame({'mean':df.melt()['value'].mean(),
                          'median':df.melt()['value'].median(),
                          'lb':df.melt()['value'].quantile(lb),
                          'ub':df.melt()['value'].quantile(ub)},index=['all'])

In [70]:
models

                mean     median        lb         ub
gc          3.308088   2.675351  0.239672   8.476976
merragma   10.435820   7.336202  0.670595  27.531734
gdasgma    12.063077   9.920666  0.948422  30.573833
merraed10   7.603526   6.126391  0.433973  19.551070
gdased10   15.430969  13.825126  1.515997  34.143747

In [71]:
models_melt

         mean    median        lb         ub
all  9.768296  6.786699  0.487614  28.467246

In [72]:
#now, North Puno

df = npun
lb = 0.05
ub = 0.95
models = pd.DataFrame({'mean':df.mean(),
                      'median':df.median(),
                      'lb':df.quantile(lb),
                      'ub':df.quantile(ub)})

models_melt = pd.DataFrame({'mean':df.melt()['value'].mean(),
                          'median':df.melt()['value'].median(),
                          'lb':df.melt()['value'].quantile(lb),
                          'ub':df.melt()['value'].quantile(ub)},index=['all'])

In [73]:
models

               mean    median        lb         ub
gc         2.724390  2.276798  0.171340   6.820004
merragma   2.844144  2.485670  0.223033   6.435433
gdasgma    5.626154  4.760562  0.480484  12.902373
merraed10  1.764283  1.642680  0.205411   4.120890
gdased10   2.756155  2.417660  0.293337   5.849464

In [74]:
models_melt

         mean  median        lb        ub
all  3.143025   2.374  0.226831  8.908092

In [75]:
#now, south puno

df = spun
lb = 0.05
ub = 0.95
models = pd.DataFrame({'mean':df.mean(),
                      'median':df.median(),
                      'lb':df.quantile(lb),
                      'ub':df.quantile(ub)})

models_melt = pd.DataFrame({'mean':df.melt()['value'].mean(),
                          'median':df.melt()['value'].median(),
                          'lb':df.melt()['value'].quantile(lb),
                          'ub':df.melt()['value'].quantile(ub)},index=['all'])

In [76]:
models

               mean    median        lb         ub
gc         1.582813  1.302498  0.078566   4.166810
merragma   9.051387  7.513761  0.908507  23.389028
gdasgma    2.591453  2.276094  0.203949   6.110685
merraed10  0.870098  0.551481  0.047749   2.286910
gdased10   0.795141  0.732222  0.054168   1.657892

In [77]:
models_melt

         mean    median        lb         ub
all  2.978178  1.378789  0.092442  12.054192

**Chacaltaya (90th pctile)**

In [78]:
#read in Harvard Forest posteriors
cols = ['mdd','apu','are','npun','spun']

gc_90 = pd.read_csv(path+'Chacaltaya_gcbase_90th.csv',usecols=cols)
merragma_90 = pd.read_csv(path+'Chacaltaya_merragma_90th.csv',usecols=cols)
gdasgma_90 = pd.read_csv(path+'Chacaltaya_gdasgma_90th.csv',usecols=cols)
merraed10_90 = pd.read_csv(path+'Chacaltaya_merraed10_90th.csv',usecols=cols)
gdased10_90 = pd.read_csv(path+'Chacaltaya_gdased10_90th.csv',usecols=cols)

#read priors
priors = pd.read_csv(path+'Chacaltaya_priors.csv')

In [79]:
#to make this plot the way I want it, need to make function to add column with percentile
def percentile_value(df,run,value,decimals=3):
    return np.round((df[run]>value).sum()/len(df[run]),decimals)
    #return (sorted(df[df['variable']==run]['posterior'])>value).sum()/len(df[df['variable']==run]['posterior'])

def loc_compile(dflist,namelist,loc='mdd'):
    i = 0
    for df in dflist:
        if i == 0:
            df_comp = pd.DataFrame({namelist[i]:df[loc]})
        else:
            df_comp[namelist[i]] = df[loc]
        i = i+1
    return df_comp

In [80]:
dflist =   [gc_90,merragma_90,gdasgma_90,merraed10_90,gdased10_90]
namelist = ['gc','merragma','gdasgma','merraed10','gdased10']

mdd = loc_compile(dflist,namelist,loc='mdd')
apu = loc_compile(dflist,namelist,loc='apu')
are = loc_compile(dflist,namelist,loc='are')
npun = loc_compile(dflist,namelist,loc='npun')
spun = loc_compile(dflist,namelist,loc='spun')
allregions = spun+npun+are+apu+mdd

In [81]:
#now, all regions

df = allregions
lb = 0.05
ub = 0.95
models = pd.DataFrame({'mean':df.mean(),
                      'median':df.median(),
                      'lb':df.quantile(lb),
                      'ub':df.quantile(ub)})

models_melt = pd.DataFrame({'mean':df.melt()['value'].mean(),
                          'median':df.melt()['value'].median(),
                          'lb':df.melt()['value'].quantile(lb),
                          'ub':df.melt()['value'].quantile(ub)},index=['all'])

nogc_melt = pd.DataFrame({'mean':df.drop('gc',axis=1).melt()['value'].mean(),
                          'median':df.drop('gc',axis=1).melt()['value'].median(),
                          'lb':df.drop('gc',axis=1).melt()['value'].quantile(lb),
                          'ub':df.drop('gc',axis=1).melt()['value'].quantile(ub)},index=['all'])

In [82]:
models

                mean     median         lb         ub
gc         37.526723  35.273601  16.605028  66.760635
merragma   60.010926  59.491190  33.199377  89.231874
gdasgma    35.177704  34.143490  21.225630  53.217682
merraed10  44.009703  43.218137  16.876705  72.559899
gdased10   35.278856  33.427423  17.709976  57.089296

In [83]:
models_melt

          mean     median         lb         ub
all  42.400782  39.473087  18.683154  74.808078

In [84]:
nogc_melt

          mean     median         lb         ub
all  43.619297  40.475512  19.842067  77.436358

In [85]:
#now, Madre de Dios

df = mdd
lb = 0.05
ub = 0.95
models = pd.DataFrame({'mean':df.mean(),
                      'median':df.median(),
                      'lb':df.quantile(lb),
                      'ub':df.quantile(ub)})

models_melt = pd.DataFrame({'mean':df.melt()['value'].mean(),
                          'median':df.melt()['value'].median(),
                          'lb':df.melt()['value'].quantile(lb),
                          'ub':df.melt()['value'].quantile(ub)},index=['all'])

nogc_melt = pd.DataFrame({'mean':df.drop('gc',axis=1).melt()['value'].mean(),
                          'median':df.drop('gc',axis=1).melt()['value'].median(),
                          'lb':df.drop('gc',axis=1).melt()['value'].quantile(lb),
                          'ub':df.drop('gc',axis=1).melt()['value'].quantile(ub)},index=['all'])

In [86]:
models

                mean     median        lb         ub
gc         24.258352  21.088109  2.782760  55.754097
merragma    3.645017   2.699892  0.211989   9.933478
gdasgma     8.040313   6.119266  0.552397  22.428100
merraed10   3.253697   2.431197  0.270901   9.111367
gdased10    6.952516   5.787808  0.590277  17.545888

In [87]:
models_melt

         mean    median        lb        ub
all  9.229979  5.160716  0.354683  35.38943

In [88]:
nogc_melt

         mean   median        lb         ub
all  5.472886  3.87242  0.321901  16.274664

In [89]:
#read in Harvard Forest posteriors
cols = ['mdd','apu','are','npun','spun']

gc_50 = pd.read_csv(path+'Chacaltaya_gcbase_IQR.csv',usecols=cols)
merragma_50 = pd.read_csv(path+'Chacaltaya_merragma_IQR.csv',usecols=cols)
gdasgma_50 = pd.read_csv(path+'Chacaltaya_gdasgma_IQR.csv',usecols=cols)
merraed10_50 = pd.read_csv(path+'Chacaltaya_merraed10_IQR.csv',usecols=cols)
gdased10_50 = pd.read_csv(path+'Chacaltaya_gdased10_IQR.csv',usecols=cols)

#read priors
priors = pd.read_csv('/home/emroy/GP/ACP/scripts/final/results/PosteriorDistributions/Chacaltaya_priors.csv')

In [90]:
#to make this plot the way I want it, need to make function to add column with percentile
def percentile_value(df,run,value,decimals=3):
    return np.round((df[run]>value).sum()/len(df[run]),decimals)
    #return (sorted(df[df['variable']==run]['posterior'])>value).sum()/len(df[df['variable']==run]['posterior'])

def loc_compile(dflist,namelist,loc='mdd'):
    i = 0
    for df in dflist:
        if i == 0:
            df_comp = pd.DataFrame({namelist[i]:df[loc]})
        else:
            df_comp[namelist[i]] = df[loc]
        i = i+1
    return df_comp

In [91]:
dflist =   [gc_50,merragma_50,gdasgma_50,merraed10_50,gdased10_50]
namelist = ['gc','merragma','gdasgma','merraed10','gdased10']

mdd = loc_compile(dflist,namelist,loc='mdd')
apu = loc_compile(dflist,namelist,loc='apu')
are = loc_compile(dflist,namelist,loc='are')
npun = loc_compile(dflist,namelist,loc='npun')
spun = loc_compile(dflist,namelist,loc='spun')
allregions = spun+npun+are+apu+mdd

In [92]:
#now, all regions

df = allregions
lb = 0.05
ub = 0.95
models = pd.DataFrame({'mean':df.mean(),
                      'median':df.median(),
                      'lb':df.quantile(lb),
                      'ub':df.quantile(ub)})

models_melt = pd.DataFrame({'mean':df.melt()['value'].mean(),
                          'median':df.melt()['value'].median(),
                          'lb':df.melt()['value'].quantile(lb),
                          'ub':df.melt()['value'].quantile(ub)},index=['all'])

nogc_melt = pd.DataFrame({'mean':df.drop('gc',axis=1).melt()['value'].mean(),
                          'median':df.drop('gc',axis=1).melt()['value'].median(),
                          'lb':df.drop('gc',axis=1).melt()['value'].quantile(lb),
                          'ub':df.drop('gc',axis=1).melt()['value'].quantile(ub)},index=['all'])

In [93]:
models

                 mean      median         lb          ub
gc          26.580299   23.601650  11.759112   45.109757
merragma   101.310748  100.622128  57.912279  147.076996
gdasgma     67.604838   66.626770  35.191258  103.739287
merraed10   82.865290   81.824479  41.308477  129.288565
gdased10    65.339524   64.617106  29.335935  105.204670

In [94]:
models_melt

         mean     median         lb          ub
all  68.74014  68.186917  17.748669  126.226996

In [95]:
nogc_melt

        mean     median         lb          ub
all  79.2801  77.037326  36.309433  129.753634

In [96]:
#now, Madre de Dios

df = mdd
lb = 0.05
ub = 0.95
models = pd.DataFrame({'mean':df.mean(),
                      'median':df.median(),
                      'lb':df.quantile(lb),
                      'ub':df.quantile(ub)})

models_melt = pd.DataFrame({'mean':df.melt()['value'].mean(),
                          'median':df.melt()['value'].median(),
                          'lb':df.melt()['value'].quantile(lb),
                          'ub':df.melt()['value'].quantile(ub)},index=['all'])

nogc_melt = pd.DataFrame({'mean':df.drop('gc',axis=1).melt()['value'].mean(),
                          'median':df.drop('gc',axis=1).melt()['value'].median(),
                          'lb':df.drop('gc',axis=1).melt()['value'].quantile(lb),
                          'ub':df.drop('gc',axis=1).melt()['value'].quantile(ub)},index=['all'])

In [97]:
models

                mean     median        lb         ub
gc         17.397598  14.840709  1.411409  39.159173
merragma   12.008710   8.071282  0.634290  37.935650
gdasgma    12.486855   8.624441  0.574466  33.641748
merraed10  21.991107  17.457170  1.092417  58.168199
gdased10   16.391843   9.707497  0.697345  50.397018

In [98]:
models_melt

          mean    median        lb         ub
all  16.055223  11.57815  0.775798  46.681543

In [99]:
nogc_melt

          mean    median        lb         ub
all  15.719629  10.28902  0.702933  48.859681